body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #feebee;;
}

.title{
  text-align: center;
  font-size:55px;
  color: #ff6b6b;
}

.title-text{
  color: rgb(132, 145, 156);
  font-size: 30px;
}

.result{
  font-weight: bold;
  color: #ff6b6b;
  font-size: 60px;
}

input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.button {
  padding: 10px 20px;
  background-color: #ff6b6b;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}